<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>

</head>

<body>
    <section id="header">
        <a href="#"><img src="image/logo.png" width="50" class="logo" alt=""></a>
        <div>
            <ul id="navbar">
                <li><a href="index.hbs">Home</a></li>
                <li><a href="shop.hbs">Shop</a></li>
                <li><a href="blog.hbs">Blog</a></li>
                <li><a href="about.hbs">About</a></li>
                <li><a class="active" href="#">Contact</a></li>
                {{>usermanage}}
                <li id="lg-bag"><a href="#"><i class="fas fa-shopping-bag"></i></a></li>
                <a href="#" id="close"><i class="fas fa-times"></i></a>
            </ul>
        </div>
        <div id="mobile">
            <a href="#"><i class="fas fa-shopping-bag"></i></a>
            <i id="bar" class="fas fa-outdent"></i>
        </div>
    </section>
    <section id="page-header" class="about-header">

        <h2>#Let's_talk</h2>
        <p>LEAVE A MESSAGE,We love to hear from you</p>

    </section>

    <section id="contact-details" class="section-p1">
        <div class="details">
            <span>GET IN TOUCH</span>
            <h2>Visit one of the agency locations or contact us today</h2>
            <h3>Head Office</h3>
            <div>
                <li>
                    <i class="far fa-map"></i>
                    <p>556 Ville Parle street Glasgow G1 Delhi, IN</p>
                </li>
                <li>
                    <i class="far fa-envelope"></i>
                    <p>shrey8838@gmail.com</p>
                </li>
                <li>
                    <i class="fas fa-phone-alt"></i>
                    <p>contact@gmail.com</p>
                </li>
                <li>
                    <i class="far fa-clock"></i>
                    <p>Monday to Saturday: 9.00am to 16.00pm</p>
                </li>
            </div>
        </div>
        <div class="map">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3502.561909067016!2d77.22502502492095!3d28.612916635524723!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ce2daa9eb4d0b%3A0x717971125923e5d!2sIndia%20Gate!5e0!3m2!1sen!2sin!4v1654098583508!5m2!1sen!2sin"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section >

    <section id="form-details">
        <form action="">
        <span>
            <span>LEAVE A MESSAGE</span>
            <h2>We love to hear from you</h2>
            <input type="text" placeholder="Your Name">
            <input type="text" placeholder="E-mail">
            <input type="text" placeholder="Subject">
            <textarea name="" id="" cols="30" rows="10" placeholder="Your Message"></textarea>
            <button class="normal">Submit</button>
        </span>
        </form>
        <div class="people">
            <div>
                <img src="image/profile.jpeg" alt="">
                <p><span>Shrey Singh</span>
                    Web Developer <br> Phone: +91 8700307259 <br> Email: shrey8838@gmail.com
                </p>
            </div>
        </div>
    </section>

    <section id="newsletter" class="section-p1 section-m1 ">
        <div class="newstext">
            <h4>Sign Up for Newsletter</h4>
            <p>Get E-mail updates about our latest shop and <span> special offers.</span></p>
        </div>
        <div class="form">
            <input type="text" placeholder="Your email address">
            <button class="normal">Sign Up</button>
        </div>
    </section>

    <script src="models/script.js"></script>
    {{>footer}}
</body>

</html>