<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>

</head>

<body>
    {{>navbar}}

    <section id="prodetails" class="section-p1">
        <div class="single-pro-image">
            <img src="image/product/p1.jpg" width="100" id="MainImg" alt="">

            <div class="small-img-group">
                <div class="small-img-col">
                    <img src="image/product/s1.jpg" width="100" class="small-img" alt="">
                </div>
                <div class="small-img-col">
                    <img src="image/product/s2.jpg" width="100" class="small-img" alt="">
                </div>
                <div class="small-img-col">
                    <img src="image/product/s3.jpg" width="100" class="small-img" alt="">
                </div>
                <div class="small-img-col">
                    <img src="image/product/s4.jpg" width="100" class="small-img" alt="">
                </div>
            </div>
        </div>
        <div class="single-pro-detail">
            <h6>Home / T-shirt</h6>
            <h4>Men's Fashion T Shirt</h4>
            <h2>$139.00</h2>
            <select>
                <option>Select Size</option>
                <option>XL</option>
                <option>XXl</option>
                <option>Small</option>
                <option>Large</option>
            </select>
            <input type="number" value="1">
            <button class="normal">Add To Cart</button>
            <h4>Product Details</h4>
            <span>T-shirts are one of the most fashionable top wear options for men, as they offer the right mix of
                style and comfort. The wide variety of styles of these outfit options available here can help you find
                suitable styles for your needs. They give a casual and laidback look to your outfit. You can also style
                them with pants like chinos, cargo trousers, and culottes
                that can elevate your ensemble multifold. You can find a wide variety of styles to choose from,
                including printed, colour-block, panelled, graphic print, and self-design styles.</span>
        </div>
    </section>
    <section id="product1" class="section-p1">
        <h2>Featured Products</h2>
        <p>Summer collection New Morden Design</p>
        <div class="pro-container">
            <div class="pro">
                <img src="image/p1.jpg" alt="">
                <div class="des">
                    <span>Adidas</span>
                    <h5>Cartoon Astronaut T-shirt</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$78</h4>
                </div>
                <a href="#"><i class="fas fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro">
                <img src="image/p1.jpg" alt="">
                <div class="des">
                    <span>Adidas</span>
                    <h5>Cartoon Astronaut T-shirt</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$78</h4>
                </div>
                <a href="#"><i class="fas fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro">
                <img src="image/p1.jpg" alt="">
                <div class="des">
                    <span>Adidas</span>
                    <h5>Cartoon Astronaut T-shirt</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$78</h4>
                </div>
                <a href="#"><i class="fas fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro">
                <img src="image/p1.jpg" alt="">
                <div class="des">
                    <span>Adidas</span>
                    <h5>Cartoon Astronaut T-shirt</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$78</h4>
                </div>
                <a href="#"><i class="fas fa-shopping-cart cart"></i></a>
            </div>
            
            
        </div>
    </section>

    <section id="newsletter" class="section-p1 section-m1 ">
        <div class="newstext">
            <h4>Sign Up for Newsletter</h4>
            <p>Get E-mail updates about our latest shop and <span> special offers.</span></p>
        </div>
        <div class="form">
            <input type="text" placeholder="Your email address">
            <button class="normal">Sign Up</button>
        </div>
    </section>
    {{>footer}}
    <script>
        var MainImg =document.getElementById("MainImg");
        var smallImg = document.getElementsByClassName("small-img");
    
        smallImg[0].onclick = function(){
            MainImg.src = smallImg[0].src;
        }
        smallImg[1].onclick = function(){
            MainImg.src = smallImg[1].src;
        }
        smallImg[2].onclick = function(){
            MainImg.src = smallImg[2].src;
        }
        smallImg[3].onclick = function(){
            MainImg.src = smallImg[3].src;
        }
    </script>
    <script src="models/script.js"></script>

</body>

</html>