<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
  <footer class="section-p1">
        <div class="col">
            <img class="logo" src="image/logo.png" width=120 alt="">
            <h4>Contact</h4>
            <p><strong> Address:</strong> 562 Ville parle, Street 32, Delhi </p>
            <p><strong> Phone:</strong> +01 2222 365</p>
            <p><strong> Hours:</strong> 10:00 - 19:00, Mon - Sat</p>
            <div class="follow">
                <h4>Follow Us</h4>

                <div class="icon">
                    <a href="https://www.facebook.com/"target="_blank"><i class=" fab fa-facebook-f"></i></a>
                    <a href="https://twitter.com/"target="_blank"><i class=" fab fa-twitter"></i></a>
                    <a href="https://www.instagram.com/__.shreyas/"target="_blank"><i class=" fab fa-instagram"></i></a>
                    <a href="https://www.youtube.com/"target="_blank"><i class=" fab fa-youtube"></i></a>
                </div>
            </div>
        </div>

        <div class="col">
            <h4>About</h4>
            <a href="about.hbs">About Us</a>
            <a href="#">Privacy policy</a>
            <a href="#">Terms & conditions</a>
            <a href="contact.hbs">Contact Us</a>
        </div>
        <div class="col">
            <h4>My Account</h4>
            <a href="login">Sign In</a>
            <a href="shopping-cart.hbs">View Cart</a>
            <a href="profile">Track My Order</a>
            <a href="contact.hbs">Help</a>
        </div>
        <div class="col install">
            <h4>Install App</h4>
            <p>From App Store or Google Play</p>
            <div class="row">
                <img src="image/app.jpg" width="120" alt="">
                <img src="image/google.png" width="140" alt="">
            </div>
            <p>Secured Payment Gateways</p>
            <img src="image/payment.png" width="250" alt="">

        </div>
        <div class="copyright">
            <p>@copyright 2022, Shrey Simplilearn Website</p>
        </div>

    </footer>
    <script src="models/script.js"></script>
</body>

</html>